<div class="container mt-3">
    <div class="row">
        <table id="datatable" class="table table-bordered dt-responsive nowrapw-100 datatables" style="border:20px">
            <thead >
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <!-- <th>Password</th> -->
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of UserData">
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <!-- <td>{{data.password}}</td> -->
                    
                </tr>
            </tbody>
        </table>

    </div>
</div>